* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}


.container {
    height: 100vh;
    width: 100vw;
    /* margin-left: auto; */
    background-color: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav_container {
    height: auto;
    width: 80vw;
    margin: auto;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
    /* background-color: red; */
}



.nav_container .logo_container a img {
    /* height: 200px; */
    width: 200px;
    padding: 1.5rem;
    /* background: yellow; */

}

.nav_container .nav_items_container {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* background: blue; */
}

.nav_container .nav_items ul {
    /* padding: 35px; */
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    list-style: none;

}

.nav_items ul .list-items {
    padding: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;



    &:hover {
        color: rgb(161, 160, 160);
    }
}

.list-items img {
    height: 25px;
    /* color: #9c8e8e; */
    /* width: 20px; */

    &:hover {
        color: rgb(161, 160, 160);
    }
}


/* .list-items .getApp-img{
    border-left: 2px solid black;
    border-right:2px solid black ;
} */

.nav_container .btns {
    /* border: 2px solid brown; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.btns .joinNow_btn {
    padding: 15px;
    margin: 10px;
    color: rgb(45, 54, 51);
    border: none;
    background: transparent;
    font-weight: 500;
    font-size: 1rem;
    /* font-family: Arial, sans-serif; */
    border-radius: 20px;
    transition: all 0.3s ease;


    &:hover {
        background-color: #f3ecec;
    }
}

.btns .signIn_btn {
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    color: blue;
    border: 1px solid blue;
    border-radius: 25px;
    background: transparent;
    transition: all 0.5s ease;


    &:hover {
        background-color: rgba(112, 181, 249, 0.1);
    }

}


/* --------------------Hero Section------------ */

.hero-section {
    margin: 30px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.hero-section .left-section {
    width: 40%;
    /* min-height: 200px; */
    /* margin-top: 50px; */
    padding: 20px;
    margin: 3px auto;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.left-section .hero-heading {
    border: 1px solid transparent;
    color: gray;
    font-weight: 400;
    /* font-family: Arial, sans-serif; */
    font-size: 3rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin-left: 29px;
    /* margin-top: 0px; */
}

.left-section .hero-btns {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    border: 1px solid transparent;


}

.hero-btns .google-btn {
    border: none;
    border-radius: 2rem;
    /* margin: 8px; */
    width: 415px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
    color: white;
    background-color: #2a74be;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgb(85, 85, 200);
    }
}

.hero-btns .google-btn .logo-div {
    /* padding: 10px; */
    border: 1px solid wheat;

}


.hero-btns .google-btn span {
    font-size: 1rem;
}

.hero-btns .microsoft-btn {
    margin: 10px;
    width: 415px;

    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 12px;

}

.hero-btns .microsoft-btn span {
    font-size: 1rem;
    font-weight: 400;
    /* font-size: 0.9rem; */
}



.hero-btns .Email_btn {
    /* width: 20px; */
    color: rgb(66, 61, 61);
    padding: 10px;
    font-size: 1rem;
    width: 415px;
    border: 1px solid black;
    border-radius: 20px;
    /* margin: 5px; */
    transition: all 0.3s ease;


    &:hover {
        color: black;
        background-color: rgb(220, 215, 215);
    }


}

.other_para {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;
    width: 100%;

}

.other_para .logs {
    text-align: center;
    padding: 5px;
    border: 1px solid transparent;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.logs a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #0a66c2;
    transition: all 0.3s ease;

    &:hover {
        text-decoration: underline;
        cursor: pointer;

    }

}

.other_para .logs2 {
    border: 1px solid transparent;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    line-height: 1.3rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    font-size: 0.8rem;
    padding: 10px;
    /* margin:5px; */
    color: rgb(75, 73, 73);
    text-align: center;
}

.logs2 .special_link {
    color: #0a66c2;
    font-weight: 600;


    &:hover {
        cursor: pointer;

        text-decoration: underline;
    }
}

.hero-section .right-section {
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    height: 618px;
    padding: 20px;
}

.right-section img {
    width: 113%;
    height: 108.6%;
}

@media (max-width:780px) {
    .hero-section {
        flex-direction: column;

    }

    .hero-section .left-section {
        width: 80%;
    }

}


/* --------------------Collaboration Section------------------ */


.collaboration_section {
    margin: 0;
    width: 100%;
    /* height: 500px; */
    /* padding: 100px; */
    margin: auto;
    border: 1px solid transparent;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row;
    /* background-color: rgb(234, 231, 231); */
    background-color: rgb(237, 237, 235);
    padding-left: 10px;
}

.collaboration_section .right_coll_section {
    border: 1px solid transparent;
    width: 468px;
    margin: auto;
    padding: 20px;
    text-align: start;
    margin-top: 15px;
    /* word-spacing: 10px; Increase space by 10 pixels */
    display: flex;
    flex-wrap: wrap;


}

.right_coll_section .coll-heading {
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 5px;
    color: rgba(0, 0, 0, 0.9);
    /* line-height:1.25rem; */
}

.right_coll_section .coll-para {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
}



.collaboration_section .left_coll_section {
    border: 1px solid transparent;
    max-width: calc(1110px - 429px - 72px);
    margin: auto;
    min-height: 50px;
    margin-top: 45px;
    outline: none;
    margin-bottom: 30px;

}


.left_coll_section .coll_items {
    padding: 15px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;


    &:hover {
        background-color: rgb(0, 0, 0, 0.08);
    }
}

.left_coll_section .show_btn {
    border: 1px solid #2a74be;
    color: #2a74be;
    transition: all 0.4s ease;


    &:hover {
        background-color: rgba(112, 181, 249, 0.2);
    }
}

/* ---------------------------Job Portal section-------------- */

.job_section {
    border: 1px soild red;
    width: 100%;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.job_section .right_job_section {
    border: 1px solid transparent;
    width: 40%;
    padding: 50px;
    margin: auto;
    margin-top: 20px;

}

.right_job_section .job-heading {
    color: rgb(168, 166, 166);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
    width: 312px;
    font-size: 32px;
    /* padding: 11px; */
    line-height: 2.5rem;
    margin-left: 30px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
}

.job_section .left_job_section {
    border: 1px solid transparent;
    width: 45%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 20px;
}

.left_job_section .coll_items {
    padding: 15px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.4s ease;
    background-color: #fff;
    cursor: pointer;


    &:hover {
        background-color: rgb(0, 0, 0, 0.08);
    }
}

.left_job_section .show_btn {
    width: fit-content;
    text-align: left;


}

.left_job_section .show_btn .fa-solid {

    /* flex-direction: row; */
    height: 10px;
    width: 10px;
    margin: 3px;
}


/* ---------------------------Post a Job-------------- */

.post-job-section {
    width: 100%;
    height: 200px;
    background-color: rgb(235, 227, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.post-job-section .post-job-heading {
    color: #b24020 !important;
    font-weight: 600;
    font-size: 2rem;
    margin: 15px;
}

.post-job-section .post-job-btn {
    border: 1px solid #2a74be;
    border-radius: 25px;
    color: #2a74be;
    padding: 15px;
    font-size: 1rem;
    transition: all 0.4s ease;
    cursor: pointer;


    &:hover {
        background-color: #bed1e4;
    }
}


/* ----------------------------tools section--------------- */

.tools-section {
    width: 80%;
    margin: auto;
    border: 1px solid transparent;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.left-tools-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid transparent;
    width: 40%;
    /* margin: auto; */
    padding: 70px;
    /* padding-left: 0; */

    /* margin-left: 100px; */
}

.left-tools-section h2 {
    margin: 10px;
    font-weight: 500;
    font-size: 1.6rem;

}

.left-tools-section p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: start;
}

.right-tools-section {
    border: 1px solid transparent;
    width: 45%;
    margin: auto;
    padding: 15px;
    margin-top: 10px;
}

.right-tools-section button {
    border: 1px solid black;
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
    background: #fff;
    flex-wrap: wrap;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.9rem;

    transition: all 0.3s ease;

    &:hover {
        background-color: rgb(215, 214, 214);
    }
}

.right-tools-section .show_btn {
    border: 1px solid #0a66c2;
    color: #0a66c2;
    background-color: #fff;
    transition: all 0.3s ease;


    &:hover {

        background: rgba(112, 181, 249, 0.1);
    }
}



/* -------------------Games Section------------------------ */

.games-section {
    width: 80%;
    margin: auto;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
}

.right-games-section {
    width: 40%;
    border: 1px solid transparent;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;

    /* margin-top: 15px; */
}

.right-games-section h3 {

    font-weight: 500;
    font-size: 1.5rem;
    margin: 15px;
    /* padding: 120px; */
}

.right-games-section p {
    margin: 15px;
    font-weight: 400;
    font-size: 18px;
    /* line-height: 1; */
    /* text-align: center; */
}


.left-games-section {
    border: 1px solid transparent;
    margin-right: 270px;
    padding: 10px;
    flex-wrap: wrap;

}

.left-games-section button {
    background-color: #fff;
    border: 1px solid black;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    color: rgb(67, 67, 67);
    transition: all 0.4s ease;
    margin: 5px;


    &:hover {
        background-color: #e8e6e6;
    }
}


/* -------------------------connect section------ */

.connect-section {
    width: 80%;
    padding: 10px;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.connect-section .right-connect-section {
    width: 40%;
    margin: auto;
    border: 1px solid transparent;
    padding: 10px;
    text-align: start;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: start; */
    /* flex-direction: column; */

}

.right-connect-section img {
    width: 60%;
    border: 1px solid transparent;
}

.right-connect-section h3 {
    /* width: 60%; */
    border: 1px solid transparent;
    padding: 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    /* width: 300px; */
    font-size: 32px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);
}

.right-connect-section .find-people-btn {
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    background-color: #fafafa;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.75);
    transition: all 0.4s ease;



    &:hover {
        background-color: rgb(215, 214, 214);
        color: black;
    }
}

.connect-section .left-connect-section {
    width: 40%;
    margin: auto;
    border: 1px solid transparent;

}

.left-connect-section img {
    border: 1px solid transparent;
    margin: 10px;

}

.left-connect-section h3 {
    /* border: 1px solid red; */
    border: 1px solid transparent;
    padding: 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 500;
    /* width: 300px; */
    font-size: 32px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.9);


}

.left-connect-section .dropdown {
    border: 1px solid rgb(151, 150, 150);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    gap: 20px;
    text-align: center;
    background-color: #fff;
    transition: all 0.4s ease;


    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }

}

.dropdown i {
    width: 24px;
    height: 24px;
}


/* --------who for section-------- */


.who-for-section {
    border: 1px solid transparent;
    display: flex;
    width: 85%;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* margin: 30px; */
    background-color: rgb(241, 239, 236);
    margin-top: 20px;

}

.who-for-section .right-who-section {
    border: 1px solid transparent;
    background-color: rgb(241, 239, 236);
    /* padding-left: 30px; */
    /* width: px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 0px; */
    text-align: left;
}


.right-who-section h2 {
    color: #b24020 !important;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
    margin: 10px;
}

.right-who-section p {
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 15px;
    border: 1px solid transparent;

}

.right-who-section .find-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    width: 300px;
    padding: 15px;
    border-radius: 5px;

    border: transparent;
    background-color: rgb(225, 220, 211);
    transition: all 0.4s ease;

    &:hover {
        background-color: rgb(220, 209, 188);
    }
}

.who-for-section .left-who-section {

    margin-left: 48px;
}

.who-for-section .left-who-section img {
    mix-blend-mode: darken;


}

@media (max-width:768px) {

    .right-who-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .right-who-section .find-btns {
        width: 100%;
        margin-left: 10px;
    }

    .who-for-section .left-who-section img {
        display: none;

    }
}



/* ----------------dreams sections------ */
.dreams-section {
    width: 85%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid transparent;
    margin-top: 20px;
    background-color: rgb(233, 233, 247);
}

.left-dreams-section {
    border: 1px solid transparent;
    margin: 20px;
    margin-right: 50px;
}

.left-dreams-section video {
    border-radius: 5px;
    object-fit: cover;

}

.right-dreams-section {
    border: 1px solid transparent;

}

.right-dreams-section .text-div {
    padding: 10px;
    line-height: 1.25;
    font-size: 1.2rem;
    /* font-weight: 500; */
}

.text-div h3 {
    font-weight: 700;
}

.text-div p {
    width: 423px;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid transparent;
}



/* ------------------Footer Section----------- */

.footer-section {
    width: 100%;
    min-height: 400px;
    margin: auto;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(231, 239, 249);
    margin-top: 10px;

}

.footer-img-div {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16%;
    margin-top: -20%;
}

.top-footer-div {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* margin-left: 0%; */
    width: 100%;
    /* text-align: start; */
}

.general-section {
    border: 1px solid transparent;
    margin-top: -12%;
}

.footer-div h3 {
    line-height: 1.25;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.footer-div ul a {
    text-decoration: none;
    transition: all 0.4s ease;

    &:hover {
        color: #0a66c2;
        text-decoration: underline;
    }
}

.footer-div ul a li:hover {
    color: #0a66c2;
    text-decoration: underline;

}

.general-section ul li {
    list-style: none;
    margin: 8px;
    /* color:rgba(0, 0, 0, 0.6); */
}

.footer-div ul li {
    list-style: none;
    margin: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-browse {
    border: 1px solid transparent;
    margin-top: -11%;
}

.footer-browse ul li {
    list-style: none;
    margin: 8px;
}

.footer-business {
    border: 1px solid transparent;
    margin-top: -22%;
}

.footer-business ul li {
    list-style: none;
    margin: 8px;
}

.footer-directories {
    border: 1px solid transparent;
    margin-top: 2%;
}

.footer-directories ul li {
    list-style: none;
    margin: 8px;
}


@media (max-width:740px) {

    .footer-section {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        align-content: start;

    }

    .top-footer-div {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .footer-div {
        margin-top: 30px;

    }

}



/* ----------last footer---- */
.last-footer {
    width: 80%;
    margin: auto;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.last-footer .left-footer-div {
    border: 1px solid transparent;
    width: 12%;
    padding: 20px;
}

.left-footer-div .img-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.last-footer-items ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;
    /* flex-wrap: wrap; */
}

.last-footer-items ul a {
    margin: 5px;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    color: #666;
    font-weight: 600;
    font-size: 12px;
    gap: 5px;
    transition: all 0.4s ease;

    &:hover {
        color: #004182;
        text-decoration: underline;
    }
}

@media (max-width:740px) {

.last-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.last-footer-items ul a{
    display: flex;
    flex-direction: column;

}
   
}
